body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    background-color: palegoldenrod;
    color: black;
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    width: 200px;
    background: #0f400f;
    padding: 1rem;
    overflow-y: auto;
    border-right: 2px solid seagreen;
}

aside button {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    border: none;
    background: #08813e;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

aside button:hover{
    background-color: #249f1f;
}

aside button.disabled {
    background: #85daa4;
    color: #578a67;
    cursor: not-allowed;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;

    h1{
        color: black;
        background-color: palegoldenrod;
        width: 45%;
        margin: auto;
    }

}

#showQuote {
    margin-top: 4rem;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #d59d44;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#showQuote:hover {
    background-color: #ddbc83;
}

#quoteBox {
    margin-top: 6rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    justify-content: center;
    align-items: center;
}

#quoteBox.visible {
    opacity: 1;
}

#quoteText {
    font-size: 22px;
    margin-bottom: 1rem;
}

#quoteAuthor {
    font-style: italic;
    color: #666;
}

.kep3{
    position: absolute;

    z-index: -1;
    bottom: 0;
    left: 45vh;
}
